#registration-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#registration-container h1 {
    color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.3333;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    word-break: break-word;
}

#registration-container input:focus {
    border: 1px solid salmon;
}

#registration-container .auth-btn {
    background-color: #111430;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    width: 130px;
}